<div class="container">
  <h3 mat-dialog-title>Modifier l'ordre de fabrication</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="numero" [(ngModel)]="data.numero" name="numero" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Date debut" [(ngModel)]="data.dateDebut" name="dateDebut" maxlength="10" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="dateFin" [(ngModel)]="data.dateFin" name="dateFin">
        </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Quantite" [(ngModel)]="data.quantite" name="quantite">
      </mat-form-field>
    </div>

 
    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Statut</mat-label>
        <select matNativeControl  [(ngModel)]="data.statut" name="statut">
          <option value="Nouveau">Nouveau</option>
          <option  value="En cours">En cours</option>
          <option value="En attente">En attente</option>
          <option value="Suspendu">Suspendu</option>
          <option value="Terminé">Terminé</option>
          <option value="Annulé">Annulé</option>
        </select>
    
      </mat-form-field>

     

    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
